* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.sidebar {
  height: 100%;
  background: #f8f9f8;
}
.sidebar ul li {
  /* padding: 15px; */
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.sidebar ul li:hover {
  background-color: rgb(230, 234, 232, 0.6);
}
.icons {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.typography {
  box-shadow: 1px 1px 3px 0px gray;
}

.range {
  width: 60%;
  height: 15px;
}
.custom_input {
  border: 1px solid rgba(0, 0, 0, 0.05);
  max-width: 50px;
  height: 20px;
}
